{% extends "base.html" %}

{% block content %}
    <h1>This is my work.</h1>
    <br>
    <p>Download the recent 10 tweets of <a href="/lagav">@LagavulinWhisky</a>.</p>
    <p>Download the recent 10 tweets of <a href="/laphr">@Laphroaig</a>.</p>
    <p>Download the recent 10 tweets of <a href="/klcho">@Kilchomanwhisky</a>.</p>
    <p>Download the recent 10 tweets of <a href="/bnrmc">@Benromach</a>.</p>
    <p>Download the recent 10 tweets of <a href="/cdsde">@clydesidewhisky</a>.</p>
{% endblock %}
